doctype html
html
  head
    title= title
    link(rel="shortcut icon", type="image/x-icon", href="/img/favicon.ico")
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    
    script(type="text/javascript" src="/js/script.js")